mixin header-mixin(legume)
    header
        - var titre = legume.creditPhoto?legume.creditPhoto.titre:legume.nom;
        .gros-rond
            a(href="#{legume.creditPhoto?legume.creditPhoto.lien:'#'}", title="#{titre}")
                img(src="#{computeImage(legume,true)}", alt="#{titre}", onload="scale(event);", itemprop="image")
        h1(itemprop="name") #{legume.nom}
    include ../navMois