extends default
block contentBlock
	block moisBlock	
	article
		h1(name="legumes") Les légumes #{insertDe(nomMois)}#{nomMois}
		ul.liste-legume
			each val, index in legumesMois.legumes
				li.section.group
					.rond.col.span_2_of_12
						img(src="#{computeImage(val,false)}", onload="scale(event);")
					.texte.col.span_8_of_12
						h2 <a href="#{computeLink(val)}">#{val.nom}</a>
						p.cuisine <strong>En cuisine : </strong> #{val.cuisine.substring(0,170)}...
						p.bienfaits <strong>Les bienfaits : </strong> #{val.bienfaits.substring(0,170)}...
		h1(name="fruits") Les fruits #{insertDe(nomMois)}#{nomMois}
		ul.liste-legume
			each val, index in legumesMois.fruits
				li.section.group
					.rond.col.span_2_of_12
						img(src="#{computeImage(val,false)}", onload="scale(event);")
					.texte.col.span_8_of_12
						h2 <a href="#{computeLink(val)}">#{val.nom}</a>
						p.cuisine <strong>En cuisine : </strong> #{val.cuisine.substring(0,170)}...
						p.bienfaits <strong>Les bienfaits : </strong> #{val.bienfaits.substring(0,170)}...
		.fb-share-button(data-href="https://www.facebook.com/legumesalabonnesaison", data-layout="button_count")
