extends default
block descriptionBlock
	- var description = "Les fruits et légumes en " + mois.titre
block titleBlock
	title #{mois.titre}
include mixins/liste-mixin
block contentBlock
	article
		h1(name="legumes") Les légumes #{insertDe(mois.titre)}#{mois.titre}
		+liste(mois.legumes)
		h1(name="fruits") Les fruits #{insertDe(mois.titre)}#{mois.titre}
		+liste(mois.fruits)
		.fb-share-button(data-href="https://www.facebook.com/legumesalabonnesaison", data-layout="button_count")
